.App {
  text-align: center;
  background: #005aa7;
  background: -webkit-linear-gradient(to top, #fffde4, #005aa7);
  background: linear-gradient(to top, #fffde4, #005aa7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__Section h1 {
  margin: 50px auto 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.App__Section--Form {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
  border: thick double #32a1ce;
  padding: 50px;
  border-radius: 25px;
}

.Form__Button--Submit {
  margin-top: 50px;
}

.Form__Dropdown--Income {
  margin-top: 20px;
}

.Form__Output--Result {
  padding-top: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
